body {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #2d2d2d;
}

.logo {
    width: 120px;
    padding-top: 10px;
    padding-left: 34%;
    float: left;

}

#main-menu {
    display: block;
    height: 100px;
    width: 100%;
    background: #2d2d2d;
    margin: 0px;
    z-index: 9;
}

#main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
}

#main-menu li {
    list-style-type: none;
    font-size: 2rem;
}

#main-menu a {
    color: #e93536;
    font-size: 1.5rem;
    text-decoration: none;
}

#main-menu a:hover {
    color: #2d2d2d;
    text-decoration: underline;
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 15px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(to bottom,
            #2d2d2d, #2d2d2d 20%,
            white 20%, white 40%,
            #2d2d2d 40%, #2d2d2d 60%,
            white 60%, white 80%,
            #2d2d2d 80%, #2d2d2d 100%);
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #2d2d2d;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: white;
    font-size: 2.2rem;
}

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a {
    color: #e93536;
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}

#view-menu li {
    display: inline;
    height: 100px;
    width: 100%;
    list-style-type: none;
    color: f2f2f2;
}

#view-menu a {
    text-decoration: none;
    color: #6d6d6d;
}

#view-menu ul {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(34, 34, 34, 0.6);
    padding: 0;

}
#view-menu ul a {
    margin: 10px;
    margin-top: 0;
    font-size: 17px;
}

.img1 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: none;
}

.trailer {
    padding-bottom: 20%;
}


.mv1 {
    width: 170px;
    grid-area: one;
}

.mv2 {
    width: 170px;
    grid-area: two;
}

.mv3 {
    width: 170px;
    grid-area: three;
}

.mv4 {
    width: 170px;
    grid-area: four;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "one two"
        "three four";

}

form {
    padding-bottom: 10px;
    padding-left: 70%;
}

button {
    
    color: white;
    background-color: rgb(34, 34, 34, 0.6);
    border-color: #e93536;
    padding: 10px;
}

.play {
    position: absolute;
    top: 233px;
    left: 260px;
}

.trailer {
    position: absolute;
}

.card {
    padding-left: 10px;
}

h2 {
    font-size: 13px;
    color: white;
    margin: 0;
    text-align: center;
}

.title {
    color: #6b6b6b;
    font-size: 10px;
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    background-color: #6b6b6b;
}

.bnn {
    color: rgb(34, 34, 34, 0.6);
    z-index: 0;
}

.bn1 {
    width: 100%;
    height: 20%;
}
.bn2 {
    width: 100%;
    height: 20%;
}
.bn3 {
    width: 100%;
    height: 20%;
}

/*Reduces opacity when hovering*/
.bn1:hover {
    opacity: 50%;
}
    
.bn2:hover {
    opacity: 50%;
}

.bn3:hover {
    opacity: 50%;
}

.bnn {
    padding-bottom: 0;
}

.rating, .movies {
    margin: 0;
}

.rt1 {
    width: 100%;
    height: 20%;
}

.overview {
    background-color: rgb(34, 34, 34, 0.6);
    margin: 10px;
    margin-top: 0;
    font-size: 15px;
    padding: 15px;
    color: whitesmoke;
    
}


@media screen and (max-width: 750px) {
    #main-menu {
        display: none;
    }

    #hamburger-menu {
        display: inline;
    }
}